<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@selected_book.user) do %>
            <%= image_tag @selected_book.user.get_profile_image(100, 100) %><br>
            <%= @selected_book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @selected_book.title, @selected_book %></td>
          <td><%= @selected_book.body %></td>
          <% if @selected_book.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@selected_book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @selected_book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>